@import url("https://fonts.cdnfonts.com/css/nasalization-2");
@tailwind base;
@tailwind components;
@tailwind utilities;

.nasalization {
  font-family: "Nasalization", sans-serif;
  letter-spacing: 0.15em;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
